.header {
	padding: 10px;
	margin-bottom: 64px;
	margin-top: 64px;

	.headerBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;

		

		.headerLogo {

			.headerLogoParagraph {
				color: rgba(255, 255, 255, 1);
				font-family: IBM Plex Mono;
				font-style: Medium;
				font-size: 32px;
				font-weight: 500;
				line-height: 42px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: capitalize;

				@media (max-width: 768px) {
					font-size: 27px;
				}

				@media (max-width: 700px) {
					font-size: 22px;
				}

				@media (max-width: 425px) {
					font-size: 22px;
				}

				@media (max-width: 375px) {
					font-size: 17px;
				}

				.headerLogoSpan {
					color: rgba(18, 247, 214, 1);

					font-family: IBM Plex Mono;
					font-style: Medium;
					font-size: 32px;
					font-weight: 500;
					line-height: 42px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;
					padding-right: 8px;

					@media (max-width: 375px) {
						padding-right: 0;
					}
				}
			}
		}

		.headerNav {
			display: flex;

			.headerNavLinkBtn {
				display: flex;
				gap: 32px;
				margin-right: 64px;

				@media (max-width: 768px) {
					margin-right: 55px;
				}

				@media (max-width: 815px) {
					gap: 20px;
					margin-right: 20px;
				}

				@media (max-width: 720px) {
					gap: 20px;
					margin-right: 15px;
				}

				@media (max-width: 700px) {
					margin-right: 0;
				}

				@media (max-width: 425px) {
					margin-right: 0;
				}


				.headerNavA {

					color: rgba(255, 255, 255, 1);
					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 24px;
					font-weight: 400;
					line-height: 32px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;

					@media (max-width: 420px) {
						font-size: 20px;
					}

					@media (max-width: 390px) {
						font-size: 18px;
					}

					&:hover {
						color: rgba(18, 247, 214, 1);

					}
				}
			}

			.headerNavInput {
				width: 204px;
				height: 32px;
				border-radius: 24px;
				border: none;
				margin-right: 64px;
				padding: 6px 16px;
			}

			.headerNavLink {
				display: flex;
				gap: 32px;
				align-items: center;

				@media (max-width:700px) {
					display: none;
				}

				@media (max-width:425px) {
					display: none;
				}

				.headerNavLinkA {
					display: flex;
					gap: 8px;
					align-items: center;
					color: rgba(255, 255, 255, 1);
					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;

					&:hover {
						color: rgba(18, 247, 214, 1);
					}
				}
			}
		}
	}
}