.sectionHero {
	margin-bottom: 128px;

	.sectionHeroHr {
		border: 1px solid rgba(67, 69, 77, 1);
		margin-bottom: 64.5px;
	}

	.heroBlock {
		.container {
			max-width: 1664px;
			margin: 0 auto;
			padding: 0 128px;
		}

		.heroBlockHeading {
			color: rgba(152, 250, 236, 1);

			font-family: Ubuntu;
			font-style: Regular;
			font-size: 117px;
			font-weight: 400;
			line-height: 134px;
			letter-spacing: 0%;
			text-align: center;
			text-transform: capitalize;
			margin-bottom: 64px;
		}

		.heroBlockDeveloperInfo {
			display: flex;

			@media (max-width: 1280px) {
				flex-wrap: wrap;
				justify-content: center;
			}


			.heroBlockInfo {
				width: 320px;
				flex-shrink: 0;
				margin-right: 128px;
				display: flex;
				flex-direction: column;
				padding: 24px;
				border: 4px solid rgba(255, 255, 255, 1);
				border-radius: 160px 0px 160px 0px;
				box-shadow: -4px -4px 2px 0px rgba(18, 247, 214, 1);
				background: rgba(41, 47, 54, 1);

				@media (max-width: 1280px) {
					margin-right: 60px;
				}

				.heroBlockInfoPerson {
					.heroBlockInfoAvatar {
						margin-bottom: 16px;
					}

					display: flex;
					flex-direction: column;
					align-items: center;
					margin-bottom: 32px;

					.heroBlockInfoPersonName {
						color: rgba(255, 255, 255, 1);

						font-family: IBM Plex Mono;
						font-style: Medium;
						font-size: 32px;
						font-weight: 500;
						line-height: 42px;
						letter-spacing: 0%;
						text-align: center;
						text-transform: capitalize;
					}

					.heroBlockInfoPersonJob {
						color: rgba(255, 255, 255, 1);

						font-family: IBM Plex Mono;
						font-style: Regular;
						font-size: 14px;
						font-weight: 400;
						line-height: 18px;
						letter-spacing: 0%;
						text-align: center;
					}
				}

				.heroBlockInfoAbout {
					display: flex;
					flex-direction: column;
					gap: 16px;
					margin-bottom: 16px;


					.heroBlockInfoAboutParagraph {
						display: flex;
						gap: 16px;
						color: rgba(255, 255, 255, 1);

						font-family: IBM Plex Mono;
						font-style: Regular;
						font-size: 14px;
						font-weight: 400;
						line-height: 18px;
						letter-spacing: 0%;
						text-align: left;
					}
				}

				.heroBlockInfoSkill {
					display: flex;
					gap: 16px;
					margin-bottom: 32px;

					.heroBlockInfoSkillParag {
						border-radius: 8px;
						background: rgba(18, 247, 214, 1);
						padding: 0 8px;
						color: rgba(41, 47, 54, 1);

						font-family: IBM Plex Mono;
						font-style: Regular;
						font-size: 14px;
						font-weight: 400;
						line-height: 18px;
						letter-spacing: 0%;
						text-align: left;
					}
				}

				.heroBlockBtn {
					display: flex;
					gap: 18px;
					align-self: flex-start;
					padding: 16px 32px;
					color: rgba(41, 47, 54, 1);
					font-family: Ubuntu;
					font-style: Regular;
					font-size: 20px;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;
					border-radius: 32px;
					background: var(--White, rgba(255, 255, 255, 1));

					&:hover{
						background-color: black;
						color: white;
					}
				}
			}

			.heroBlockDeveloper {
				display: flex;
				padding: 44px 0;

				@media (max-width: 1280px) {
					display: flex;
				}

				.heroBlockDeveloperHedingBlock {
					margin-bottom: 32px;

					.heroBlockDeveloperSpanStart {
						color: rgba(152, 250, 236, 1);

						font-family: IBM Plex Mono;
						font-style: Regular;
						font-size: 14px;
						font-weight: 400;
						line-height: 18px;
						letter-spacing: 0%;
						text-align: left;
						text-transform: none;
					}

					.heroBlockDeveloperHeading {
						color: var(--White, rgba(255, 255, 255, 1));

						font-family: Ubuntu;
						font-style: Regular;
						font-size: 64px;
						font-weight: 400;
						line-height: 72px;
						letter-spacing: 0%;
						text-align: left;
						text-transform: capitalize;
						margin-left: 16px;

						.heroBlockDeveloperHeadingSpan {
							color: rgba(18, 247, 214, 1);
						}

						.heroBlockDeveloperSpanClose {
							color: rgba(152, 250, 236, 1);

							font-family: IBM Plex Mono;
							font-style: Regular;
							font-size: 14px;
							font-weight: 400;
							line-height: 18px;
							letter-spacing: 0%;
							text-align: left;
							text-transform: none;
							margin-left: 16px;
						}
					}
				}

				.heroBlockDeveloperParagraphBlock {
					display: flex;
					flex-direction: column;

					.heroBlockDeveloperParagraphSpan {
						color: rgba(152, 250, 236, 1);

						font-family: IBM Plex Mono;
						font-style: Regular;
						font-size: 14px;
						font-weight: 400;
						line-height: 18px;
						letter-spacing: 0%;
						text-align: left;
					}

					.heroBlockDeveloperParagraph {
						color: rgba(255, 255, 255, 1);

						font-family: IBM Plex Mono;
						font-style: Regular;
						font-size: 16px;
						font-weight: 400;
						line-height: 20px;
						letter-spacing: 0%;
						text-align: left;
						padding: 16px 24px;
					}

					.heroBlockDeveloperParagraphBtn {
						display: flex;
						align-items: flex-start;
						gap: 16px;
						margin-top: 16px;
						color: rgba(18, 247, 214, 1);

						font-family: IBM Plex Mono;
						font-style: Medium;
						font-size: 32px;
						font-weight: 500;
						line-height: 42px;
						letter-spacing: 0%;
						text-align: left;
						text-transform: capitalize;
						padding-left: 24px;

						&:hover {
							background: transparent; // ⬅ запрещаем белый фон
							color: white;
						}
					}
				}
			}

			.heroBlockDeveloperSkils {
				display: flex;
				align-items: center;
				height: 378px;
				flex-direction: column;
				gap: 48px;
				margin: 71px 0;
				border-radius: 80px;
				box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
				background: rgba(26, 30, 35, 1);
				padding: 48px 32px;

				.heroBlockDeveloperSkilsParag {
					display: flex;
					gap: 16px;
					align-items: center;
					color: var(--White, rgba(255, 255, 255, 1));

					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0%;
					text-align: left;

					.heroBlockDeveloperSkilsSpan {
						color: rgba(18, 247, 214, 1);

						font-family: IBM Plex Mono;
						font-style: Medium;
						font-size: 48px;
						font-weight: 500;
						line-height: 62px;
						letter-spacing: 0%;
						text-align: left;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}

.hero-char {
  display: inline-block;
}
