.blogDetail {


	.blogDetailBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 128px;
		padding: 0 600px;

		@media (max-width: 1440px) {
			padding: 0 400px;
		}

		@media (max-width: 1280px) and (min-width: 1024px) {
			padding: 0 300px;
		}

		@media (max-width: 1023px) and (min-width: 768px) {
			padding: 0 200px;
		}

		@media (max-width: 767px) and (min-width: 425px) {
			padding: 0 50px;
		}

		@media (max-width: 424px) and (min-width: 375px) {
			padding: 0 50px;
		}

		@media (max-width: 374px) {
			padding: 0 20px;
		}


		.blogDetailBlockHeading {
			color: rgba(18, 247, 214, 1);

			font-family: Ubuntu;
			font-style: Regular;
			font-size: 32px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: 0%;
			text-align: center;
		}

		.blogDetailBlockImg {
			width: 720px;
			height: 400px;

			@media (max-width: 1280px) {
				width: 630px;
				height: 340px;
			}


			@media (max-width: 768px) {
				width: 450px;
				height: 300px;
			}

			@media (max-width: 425px) {
				width: 330px;
				height: 280px;
			}

			@media (max-width: 330px) {
				width: 260px;
				height: 240px;
			}
		}

		.blogDetailTime {

			border-top: 1px solid rgba(67, 69, 77, 1);
			border-bottom: 1px solid rgba(67, 69, 77, 1);
			margin: 32px 0;
			padding: 16px 0;

			.blogDetailDate {
				color: rgba(255, 255, 255, 1);

				font-family: Ubuntu;
				font-style: Light;
				font-size: 14px;
				font-weight: 300;
				line-height: 16px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: capitalize;
			}

		}

		.blogDetailParag {
			padding: 32px 0;
			color: rgba(255, 255, 255, 1);
			font-family: Ubuntu;
			font-style: Light;
			font-size: 16px;
			font-weight: 300;
			line-height: 32px;
			letter-spacing: 0%;
			text-align: left;
		}

		.blogDetailTheme {
			padding: 4px 8px;
			color: rgba(255, 255, 255, 1);

			font-family: Ubuntu;
			font-style: Regular;
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: 0%;
			text-align: left;
			text-transform: capitalize;
			border-radius: 16px;
			background: rgba(67, 69, 77, 1);
		}

	}

	.blogDetailOthers {
		padding: 0 300px;

		@media (max-width: 1024px) and (min-width: 960px) {
			padding: 0 260px;
		}

		@media (max-width: 959px) {
			padding: 0 130px;
		}

		@media (max-width: 768px) {
			padding: 0 20px;
		}
		.blogDetailOthersHeading {
			color: rgba(18, 247, 214, 1);

			font-family: Ubuntu;
			font-style: Regular;
			font-size: 64px;
			font-weight: 400;
			line-height: 72px;
			letter-spacing: 0%;
			text-align: center;

			@media (max-width: 425px) {
				font-size: 54px;
			}

			@media (max-width: 320px) {
				font-size: 45px;
			}
	

		}
	}
}