.postsBlock {

	.postsBlockBlog {
		display: flex;
		gap: 64px;
		padding: 64px 0;

		@media (max-width: 700px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@media (max-width: 425px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		.postsBlockText {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
			padding: 25px 0;

			.postsBlockTextHeading {
				color: rgba(18, 247, 214, 1);

				font-family: Ubuntu;
				font-style: Regular;
				font-size: 32px;
				font-weight: 400;
				line-height: 36px;
				letter-spacing: 0%;
				text-align: left;
			}

			.postsBlockTextParag {
				color: rgba(255, 255, 255, 1);

				font-family: Ubuntu;
				font-style: Regular;
				font-size: 16px;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: 0%;
				text-align: left;
			}

			.postBlockLink {
				color:  rgba(18, 247, 214, 1);
				border-bottom: 1px solid var(--White, rgba(255, 255, 255, 1));
				padding-bottom: 5px;
				font-family: Ubuntu;
				font-style: Light;
				font-size: 16px;
				font-weight: 300;
				line-height: 18px;
				letter-spacing: 0%;
				text-align: left;

				&:hover{
					color: white;
				}
			}

			.postsBlockTag {
				display: flex;

				.postsTheme {
					padding: 4px 8px;
					color: rgba(255, 255, 255, 1);

					font-family: Ubuntu;
					font-style: Regular;
					font-size: 14px;
					font-weight: 400;
					line-height: 16px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;
					border-radius: 16px;
					background: rgba(67, 69, 77, 1);
				}
			}
		}
	}
}