.header {
	margin-bottom: 64px;
	margin-top: 64px;

	.headerBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1440px) {
			justify-content: space-around;
		}

		.headerLogo {

			.headerLogoParagraph {
				color: rgba(255, 255, 255, 1);
				font-family: IBM Plex Mono;
				font-style: Medium;
				font-size: 32px;
				font-weight: 500;
				line-height: 42px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: capitalize;

				.headerLogoSpan {
					color: rgba(18, 247, 214, 1);

					font-family: IBM Plex Mono;
					font-style: Medium;
					font-size: 32px;
					font-weight: 500;
					line-height: 42px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;
					padding-right: 8px;
				}
			}
		}

		.headerNav {
			display: flex;

			.headerNavLinkBtn {
				display: flex;
				gap: 32px;
				margin-right: 64px;

				.headerNavA {

					color: rgba(255, 255, 255, 1);
					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 24px;
					font-weight: 400;
					line-height: 32px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;

					&:hover {
						color: rgba(18, 247, 214, 1);

					}
				}
			}

			.headerNavInput {
				width: 204px;
				height: 32px;
				border-radius: 24px;
				border: none;
				margin-right: 64px;
				padding: 6px 16px;
			}

			.headerNavLink {
				display: flex;
				gap: 32px;
				align-items: center;

				.headerNavLinkA {
					display: flex;
					gap: 8px;
					align-items: center;
					color: rgba(255, 255, 255, 1);
					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;

					&:hover {
						color: rgba(18, 247, 214, 1);
					}
				}
			}
		}
	}
}