.skils {
	background-image: url('/skills-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.skilsBlock {
		.skilsBlockHeading {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			gap: 16px;
			padding-bottom: 64px;

			.skilsHeading {
				color: rgba(18, 247, 214, 1);
				font-family: Ubuntu;
				font-style: Regular;
				font-size: 64px;
				font-weight: 400;
				line-height: 72px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: capitalize;
			}

			.skilsParag {
				color: rgba(255, 255, 255, 1);
				font-family: IBM Plex Mono;
				font-style: Regular;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: 0%;
				text-align: center;
			}
		}

		.skilsBlockWork {
			display: flex;
			justify-content: center;
			gap: 136px;
			padding-bottom: 90px;

			.skilsBlockWorkWeb {
				display: flex;
				flex-direction: column;
				padding: 16px 24px;
				gap: 8px;
				align-items: center;
				border-radius: 8px 8px 8px 8px;
				background: rgba(152, 250, 236, 1);

				.skilsBlockWorkWebHeading {
					color: rgba(41, 47, 54, 1);
					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 24px;
					font-weight: 400;
					line-height: 32px;
					letter-spacing: 0%;
					text-align: center;
					text-transform: capitalize;
				}

				.skilsBlockWorkWebParag {
					color: rgba(67, 69, 77, 1);

					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0%;
					text-align: center;
				}
			}

			.skilsBlockWorkApp {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 16px 24px;
				gap: 8px;
				border-radius: 8px 8px 8px 8px;
				background: rgba(152, 250, 236, 1);

				.skilsBlockWorkAppHeading {
					color: rgba(41, 47, 54, 1);
					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 24px;
					font-weight: 400;
					line-height: 32px;
					letter-spacing: 0%;
					text-align: center;
					text-transform: capitalize;
				}

				.skilsBlockWorkAppParag {
					color: rgba(67, 69, 77, 1);

					font-family: IBM Plex Mono;
					font-style: Regular;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0%;
					text-align: center;
				}
			}

		}

		.skilsBlockWorkImage {
			display: flex;
			justify-content: center;
			gap: 128px;
			padding-bottom: 128px;

			@media (max-width: 1175px) {
				padding: 0 170px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				grid-column-gap: 0px;
				grid-row-gap: 32px;
				padding-bottom: 64px;
			}

			@media (max-width: 1024px) {
				padding: 0 120px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				grid-column-gap: 0px;
				grid-row-gap: 32px;
				padding-bottom: 64px;
			}

			.skilsBlockWorkImageItem {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 24px;

			}
		}
	}
}


.skillText {
	font-family: 'IBM Plex Mono';
	font-size: 32px;
	font-weight: 500;
	line-height: 42px;
	text-transform: capitalize;
}

.html {
	color: rgba(229, 79, 38, 1);
}

.css {
	color: rgba(12, 115, 184, 1);
}

.js {
	color: rgba(231, 160, 32, 1);
}

.react {
	color: rgba(40, 169, 224, 1);
}