.sidebar {
	z-index: 10;
	position: fixed;
	gap: 24px;
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 40px;
	background: rgba(26, 30, 35, 1);
	padding: 8px 12px;
	left: 56px;
	
	@media (max-width: 1440px) {
		left: 40px;
	}

	button {
		position: relative;
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		display: inline-block;
		padding: 8px;


	

		img:last-child {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			padding: 8px;
			 // скрываем черную иконку по умолчанию
		}

		&:hover {
			border-radius: 40px;
			background: rgba(255, 255, 255, 1);

			img:first-child {
				opacity: 0; 
			}

			img:last-child {
				opacity: 1; 
			}
		}
	}
}