.posts {
	padding: 0 306px;

	.postsBlockHeading {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		margin-bottom: 64px;

		.postsHeading {
			color: rgba(18, 247, 214, 1);

			font-family: Ubuntu;
			font-style: Regular;
			font-size: 64px;
			font-weight: 400;
			line-height: 72px;
			letter-spacing: 0%;
			text-align: left;
			text-transform: capitalize;
		}

		.postsHeadingParag {
			color: rgba(255, 255, 255, 1);

			font-family: IBM Plex Mono;
			font-style: Regular;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0%;
			text-align: center;
		}
	}

	.buttonWrapper {
		text-align: center;
		margin-bottom: 64px;

		.postsBlockBtn {
			padding: 16px 32px;
			box-sizing: border-box;
			border: 2px solid rgba(18, 247, 214, 1);
			border-radius: 32px;
			background: rgba(41, 47, 54, 1);
			color: var(--White, rgba(255, 255, 255, 1));

			font-family: Ubuntu;
			font-style: Regular;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0%;
			text-align: left;
			text-transform: capitalize;
		}
	}

}