.about {
	background-image: url('/about-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 128px;
	

	.container {
		max-width: 1664px;
		margin: 0 auto;
		padding: 0 128px;

		.aboutBlock {
			display: flex;
			gap: 128px;

			@media (max-width: 1280px) {
				flex-wrap: wrap;
				justify-content: center;
			}

			.aboutBlockLeft {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 64px;

				.aboutBlockLeftHeading {
					color: rgba(255, 255, 255, 1);

					font-family: Ubuntu;
					font-style: Regular;
					font-size: 64px;
					font-weight: 400;
					line-height: 72px;
					letter-spacing: 0%;
					text-align: left;
					text-transform: capitalize;
					box-sizing: border-box;
					border: 4px solid rgba(18, 247, 214, 1);
					border-radius: 40px 0px 40px 0px;
					background: rgba(41, 47, 54, 1);
					padding: 16px 40px;
				}

				.aboutBlockLeftText {


					border-radius: 40px;
					background: rgba(41, 47, 54, 1);
					padding: 24px 40px;

					.aboutBlockLeftSpan {
						color: rgba(152, 250, 236, 1);

						font-family: IBM Plex Mono;
						font-style: Regular;
						font-size: 14px;
						font-weight: 400;
						line-height: 18px;
						letter-spacing: 0%;
						text-align: left;
					}

					.aboutBlockLeftTextBlock {
						display: flex;
						flex-direction: column;
						gap: 16px;
						padding: 16px 0;

						.aboutText {
							white-space: pre-line;
							font-family: IBM Plex Mono;
							font-style: Regular;
							font-size: 14px;
							font-weight: 400;
							line-height: 18px;
							letter-spacing: 0%;
							text-align: left;
							color: rgba(255, 255, 255, 1);

							.aboutHello {
								color: rgba(18, 247, 214, 1);
								font-size: 32px;
								font-weight: 500;
								// Шрифт: IBM Plex Mono Вес шрифта имя: Medium Вес шрифта значение: 500 Размер шрифта: 32pxpx Высота строки: 42px Межбуквенное расстояние: 0% Выровнять: Выровнять по левому краю
							}
						}
					}
				}
			}
			.aboutBlockRightImg{
				width: 300px;
			}
		}
	}
}