@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ===== Base ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;

  background: rgba(41, 47, 54, 1);
}

/* ===== Typography ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0;
  line-height: 1.2;
}

p {
  margin: 0;
}

/* ===== Links ===== */
a {
  color: #646cff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* ===== Buttons ===== */
button {
  all: unset;
  cursor: pointer;
}

button:hover {
  background-color: #eaeaea;
}

/* ===== Images ===== */
img {

  display: block;
}

li{
  list-style: none
}

.container {
  max-width: 1664px;
  margin: 0 auto;
  position: relative;
}