.footer {
	background: rgba(26, 30, 35, 1);


	.footerLine {
		border: 1px solid var(--Grey, rgba(67, 69, 77, 1));
		padding: 0;
		margin: 0;
	}

	.footerBlock {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 0 10px;

		@media (max-width: 700px) {
			flex-wrap: wrap;
		}

		@media (max-width: 425px) {
			flex-wrap: wrap;
		}

		.footerBlockList {
			display: flex;
			gap: 32px;
			padding: 0;

			@media (max-width: 425px) {
				gap: 25px;
			}

			.footerBlockItem {
				color: var(--White, rgba(255, 255, 255, 1));

				font-family: Ubuntu;
				font-style: Regular;
				font-size: 16px;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: 0%;
				text-align: center;
			}
		}


		.footerLink {
			display: flex;
			gap: 32px;
		}

		.footerBlockParag {
			color: var(--White, rgba(255, 255, 255, 1));

			font-family: Ubuntu;
			font-style: Regular;
			font-size: 16px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: 0%;
			text-align: left;

			@media (max-width:425px) {
				font-size: 13px;
			}
		}
	}
}